{% extends 'base.html.twig' %}

{% block body %}
<h1>say Hello Page</h1>
<h4> {{message}}</h4>

<h6> Welcome back {{name}}</h6>

<h6> You are from {{country}} ?</h6>

<h6> Postal code: {{postalCode}} ?</h6>
{% endblock %}